In [118]:
# Importando as bibliotecas necessárias

import pandas as pd

In [119]:
# Importando a base de dados e verificando sua estrutura
df = pd.read_csv("/Users/MacEnzo/Desktop/House_Pricing_ML/data/house_prices.csv")
df.head().T

,0,1,2,3,4
id,7129300520,6414100192,5631500400,2487200875,1954400510
date,20141013T000000,20141209T000000,20150225T000000,20141209T000000,20150218T000000
price,221900,538000,180000,604000,510000
bedrooms,3,3,2,4,3
bathrooms,1,2,1,3,2
sqft_living,1180,2570,770,1960,1680
sqft_lot,5650,7242,10000,5000,8080
floors,1,2,1,1,1
waterfront,N,N,N,N,N
view,0,0,0,0,0
condition,Average,Average,Average,Very Good,Average
grade,7,7,6,7,8
sqft_above,1180,2170,770,1050,1680
sqft_basement,0,400,0,910,0
yr_built,1955,1951,1933,1965,1987
yr_renovated,0,1991,0,0,0
zipcode,98178,98125,98028,98136,98074
lat,48,48,48,48,48
long,-122,-122,-122,-122,-122
sqft_living15,1340,1690,2720,1360,1800
sqft_lot15,5650,7639,8062,5000,7503

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  object
 9   view           21613 non-null  int64
 10  condition      21613 non-null  object
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(13), object(3)
memory usage: 3.5+ MB

In [121]:
# Criando uma coluna para cada parte da data (ano, mês e dia) e excluindo a coluna original

df['date'] = pd.to_datetime(df['date'], errors='coerce')
df["year"] = df["date"].dt.year
df["month"] = df["date"].dt.month
df["day"] = df["date"].dt.day
df.drop("date", axis=1, inplace=True)

In [122]:
# Verificando os valores únicos da coluna "condition"

df["condition"].unique()

array(['Average', 'Very Good', 'Good', 'Poor', 'Fair'], dtype=object)

In [123]:
# Transformando os 5 valores únicos da coluna para colunas próprias utilizando dummies

df = pd.get_dummies(df, columns=["condition"], dtype="int")

In [124]:
# Verificando os valores únicos da coluna "waterfront"

df["waterfront"].unique()

array(['N', 'Y'], dtype=object)

In [125]:
# Substituindo os valores "N" para 0 e "Y" para 1

df["waterfront"] = df["waterfront"].replace(["N", "Y"], [0, 1])

/var/folders/7d/bsg2h_vs7t11dqc8789wpwhm0000gn/T/ipykernel_1366/3843686996.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["waterfront"] = df["waterfront"].replace(["N", "Y"], [0, 1])

In [126]:
# Verificando o resultado da manipulação de dados feita até o momento
df.head().T

                             0          1          2          3          4
id                  7129300520 6414100192 5631500400 2487200875 1954400510
price                   221900     538000     180000     604000     510000
bedrooms                     3          3          2          4          3
bathrooms                    1          2          1          3          2
sqft_living               1180       2570        770       1960       1680
sqft_lot                  5650       7242      10000       5000       8080
floors                       1          2          1          1          1
waterfront                   0          0          0          0          0
view                         0          0          0          0          0
grade                        7          7          6          7          8
sqft_above                1180       2170        770       1050       1680
sqft_basement                0        400          0        910          0
yr_built                  1955       1951       1933       1965       1987
yr_renovated                 0       1991          0          0          0
zipcode                  98178      98125      98028      98136      98074
lat                         48         48         48         48         48
long                      -122       -122       -122       -122       -122
sqft_living15             1340       1690       2720       1360       1800
sqft_lot15                5650       7639       8062       5000       7503
year                      2014       2014       2015       2014       2015
month                       10         12          2         12          2
day                         13          9         25          9         18
condition_Average            1          1          1          0          1
condition_Fair               0          0          0          0          0
condition_Good               0          0          0          0          0
condition_Poor               0          0          0          0          0
condition_Very Good          0          0          0          1          0